<div class="row clearfix">

    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">

            <div class="header bg-light-blue">
                <h2>
                    Cronograma de Aulas <small>Ano Letivo 2019</small>
                </h2>
                <ul class="header-dropdown m-r--5">
                    <li>
                        <a href="javascript:void(0);" data-toggle="cardloading" data-loading-effect="timer" data-loading-color="lightBlue">
                            <i class="material-icons">loop</i>
                        </a>
                    </li>
                    <li class="dropdown">
                        <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="true">
                            <i class="material-icons">more_vert</i>
                        </a>
                        <ul class="dropdown-menu pull-right">
                            <li><a href="javascript:void(0);" class=" waves-effect waves-block">Action</a></li>
                            <li><a href="javascript:void(0);" class=" waves-effect waves-block">Another action</a></li>
                            <li><a href="javascript:void(0);" class=" waves-effect waves-block">Something else here</a></li>
                        </ul>
                    </li>
                </ul>
            </div>

            <div class="body">

                <div class="row">

                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

                        <div class="table-responsive">
                            <table class="table table-bordered table-striped table-hover dataTable js-exportable">

                                <thead>
                                    <tr>
                                        <th>Horários</th>
                                        <th>Professor</th>
                                        <th>2ª Feira</th>
                                        <th>3ª Feira</th>
                                        <th>4ª Feira</th>
                                        <th>5ª Feira</th>
                                        <th>6ª Feira</th>
                                    </tr>
                                </thead>

                                <tbody>
                                    <tr>
                                        <td>18:20-19:50</td>
                                        <td>Rodrigo Rosa</td>
                                        <td>Roda de Historia</td>
                                        <td>Linguagem</td>
                                        <td>Intervalo</td>
                                        <td>Linguagem</td>
                                        <td>Ética</td>
                                    </tr>
                                    <tr>
                                        <td>13:15-14:01</td>
                                        <td>Rodrigo Rosa</td>
                                        <td>Música</td>
                                        <td>Matemática</td>
                                        <td>Intervalo</td>
                                        <td>Matemática</td>
                                        <td>Natureza</td>
                                    </tr>
                                    <tr>
                                        <td>14:47-15:12</td>
                                        <td>Rodrigo Rosa</td>
                                        <td>Roda de Historia</td>
                                        <td>Linguagem</td>
                                        <td>Intervalo</td>
                                        <td>Sociedade</td>
                                        <td>Natureza</td>
                                    </tr>
                                    <tr>
                                        <td>19:50-20h30</td>
                                        <td>Rodrigo Rosa</td>
                                        <td>Música</td>
                                        <td>Inglês</td>
                                        <td>Intervalo</td>
                                        <td>Matemática</td>
                                        <td>Ed.Fisica</td>
                                    </tr>
                                    <tr>
                                        <td>14:01-14:47</td>
                                        <td>André Marcos</td>
                                        <td>Dia do brinquedo</td>
                                        <td>Esportes</td>
                                        <td>Intervalo</td>
                                        <td>Arte</td>
                                        <td>Parque</td>
                                    </tr>
                                    <tr>
                                        <td>16:44-17:30</td>
                                        <td>André Marcos</td>
                                        <td>Hora do desenho</td>
                                        <td>Brincadeira de Logica</td>
                                        <td>Intervalo</td>
                                        <td>Guerra de Bexigas</td>
                                        <td>Volei no sabão</td>
                                    </tr>
                                    <tr>
                                        <td>15:58-16:44</td>
                                        <td>André Marcos</td>
                                        <td>Taco</td>
                                        <td>Volei</td>
                                        <td>Intervalo</td>
                                        <td>Imagem em Ação</td>
                                        <td>Uno</td>
                                    </tr>
                                    <tr>
                                        <td>15:12-15:58</td>
                                        <td>André Marcos</td>
                                        <td>Futebol</td>
                                        <td>Brincadeira de Roda</td>
                                        <td>Intervalo</td>
                                        <td>Criar cartas criativas</td>
                                        <td>Hora da historia</td>
                                    </tr>
                                    <tr>
                                        <td>17:30-18h20</td>
                                        <td>André Marcos</td>
                                        <td>Dia do brinquedo</td>
                                        <td>Corrida</td>
                                        <td>Intervalo</td>
                                        <td>Imagem em ação</td>
                                        <td>Hora do brinquedo</td>
                                    </tr>
                                </tbody>

                            </table>
                        </div>

                    </div>

                </div>
            </div>

        </div>
    </div>

</div>