<div class="row clearfix">

    <div class="block-header">
        <h2>MEU PERFIL</h2>
    </div>

    <!-- Input -->
    <div class="row clearfix">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="card">

                <div class="header">

                    <!-- Foto de Perfil -->
                    <p class="centered"><a href="javascript:void(0);"><img src="~/materialdesign/images/user.jpg" class="img-responsive img-thumbnail" width="150"></a></p>
                    <!-- #Foto de Perfil -->

                    <ul class="header-dropdown m-r--5">
                        <li class="dropdown">
                            <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                <i class="material-icons">more_vert</i>
                            </a>
                            <ul class="dropdown-menu pull-right">
                                <li><a href="javascript:void(0);">Action</a></li>
                                <li><a href="javascript:void(0);">Another action</a></li>
                                <li><a href="javascript:void(0);">Something else here</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>

                <div class="body">

                    <h2 class="card-inside-title">Dados Básicos</h2>
                    <div class="row clearfix">
                        <div class="col-sm-4">
                            <div class="form-group">
                                <div class="form-line disabled">
                                    <label>Nome:</label>
                                    <input type="text" class="form-control" placeholder="Nome" value="Pedro Henrique de Souza" disabled />
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <div class="form-line disabled">
                                    <label>Data de Nascimento:</label>
                                    <input type="text" class="form-control" placeholder="Data de Nascimento" value="22/07/2010" disabled />
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <div class="form-group">
                                <div class="form-line disabled">
                                    <label>Sexo:</label>
                                    <input type="text" class="form-control" placeholder="Nome" value="Masculino" disabled />
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <div class="form-group">
                                <div class="form-line disabled">
                                    <label>Fator RH:</label>
                                    <input type="text" class="form-control" placeholder="Ex: B+" value="O+" disabled />
                                </div>
                            </div>
                        </div>

                        @*<div class="form-group">
            <div class="form-line">
                <input type="password" class="form-control" placeholder="Password" value="1235678" />
            </div>
        </div>*@
                    </div>

                    @*<h2 class="card-inside-title">Responsáveis</h2>
                        <div class="row clearfix">
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <div class="form-line disabled">
                                        <label>Nome:</label>
                                        <input type="text" class="form-control" placeholder="Nome" value="Maria Helena de Souza" disabled />
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <div class="form-line disabled">
                                        <label>CPF:</label>
                                        <input type="text" class="form-control" placeholder="Data de Nascimento" value="000.000.000-00" disabled />
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <div class="form-line disabled">
                                        <label>Data de Nascimento:</label>
                                        <input type="text" class="form-control" placeholder="Nome" value="20/09/1975" disabled />
                                    </div>
                                </div>
                            </div>

                        </div>*@

                    <h2 class="card-inside-title">Dados Escolar</h2>
                    <div class="row clearfix">
                        <div class="col-sm-3">
                            <div class="form-group">
                                <div class="form-line disabled">
                                    <label>Curso:</label>
                                    <input type="text" class="form-control" placeholder="Curso" value="Educação Infantil" disabled />
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group">
                                <div class="form-line disabled">
                                    <label>Turma:</label>
                                    <input type="text" class="form-control" placeholder="Turma" value="Maternal II" disabled />
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group">
                                <div class="form-line disabled">
                                    <label>Período:</label>
                                    <input type="text" class="form-control" placeholder="Turno" value="Vesperino" disabled />
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group">
                                <div class="form-line">
                                    <label>Ano Letivo:</label>
                                    <input type="text" class="form-control" placeholder="Ano Letivo" value="2018" disabled />
                                </div>
                            </div>
                        </div>
                    </div>

                    <h2 class="card-inside-title">Alergias</h2>
                    <label>Medicamentos / Alimentos</label>
                    <div class="row clearfix">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <div class="form-line">
                                    <textarea rows="4" class="form-control no-resize" placeholder="Ex: Alergico a kiwi."></textarea>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <!-- #END# Input -->

</div>

