@{
    ViewData["Title"] = "Boletim Escolar | School Community";
}

<!-- VIEWCOMPONENT BOLETIM ESCOLAR -->
<div>
    @Component.InvokeAsync("BoletimEscolar").Result
</div>
<!-- #VIEWCOMPONENT BOLETIM ESCOLAR -->