@{
    ViewData["Title"] = "Frequência Escolar | School Community";
}

<!-- VIEW COMPONENT - FREQUÊNCIA ESCOLAR -->
<div>
    @Component.InvokeAsync("FrequenciaEscolar").Result
</div>
<!-- #VIEW COMPONENT - FREQUÊNCIA ESCOLAR -->