@{
    ViewData["Title"] = "Home | School Community";
}

<!-- COMPONENT DESNECESSÁRIO -->

<!-- VIEW COMPONENT - CARDS INFORMATIVOS -->
@*<div>
    @Component.InvokeAsync("CardsInformativos").Result
</div>*@
<!-- #VIEW COMPONENT - CARDS INFORMATIVOS -->